@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --day: linear-gradient(90deg, #ffbb3e, #ffe1b9);
  --night: linear-gradient(90deg, #5451ff, #2c2158);
  --rain: linear-gradient(90deg, #4b4b4bb2, #c2c2c280);

  --text-night: #ffffff;

  --container-background-night: #8f87ff86;
  --section-night: #3b32b96e;
}

body {
  height: 100vh;

  padding: 1em 0 0 0;
  
  display: grid;
  grid-template-rows: 4fr 0.2fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background: var(--night);
}

main {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: #f0f0f0;
}

main form {
  background-color: var(--container-background-night);
  border-radius: 15px;
  padding: 0.2em 0.5em;

  font-size: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
main form label {
  display: flex;
  align-items: center;
}
main form label span {
  display: flex;
  align-items: center;
}
main form button {
  display: flex;
  align-items: center;
}

main form input {
  background: transparent;
  border: 0;
  border-bottom: 0;
  padding-left: 0.5em;
  outline: none;
  caret-color: var(--text-night);
  color: var(--text-night);
  font-weight: 510;
}
main form input::placeholder {
  color: #ffffffbd;
  font-weight: 510;
}
main form img {
  width: 1.5em;
}
.svg-white {
  filter: invert(98%) sepia(0%) saturate(435%) hue-rotate(64deg) brightness(115%) contrast(88%);
}

button[type="submit"] {
  background: var(--section-night);
  border-radius: 10px;
  border: 0;
  padding: 0;
  color: #f1f1f1;
  cursor: pointer;
  font-weight: 550;
  transition-duration: 0.2s;
}

button[type="submit"]:hover {
  scale: 1.1;
}
button[type="submit"]:active {
  scale: 0.9;
}

footer {
  grid-column: 1/4;
  grid-row: -2;
  background-color: rgba(240, 248, 255, 0.158);
  color: #ffffffbd;
  align-content: end;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: rgb(237, 99, 255);
  font-weight: 600;
}

.weather {
  width: 498px;
  height: 800px;

  background-color: var(--container-background-night);
}

.switches {
  display: flex;
  justify-content: space-between;
}

.wind-unit, .temp-unit {
  display: flex;
  align-items: center;

  border: 2px solid var(--text-night);
  border-radius: 10px;

  font-weight: 550;

  margin: 0.5rem 1rem;
}

.kph, .mph, .celsius, .fahrenheit {
  cursor: pointer;
  padding: 0 0.5em;

  transition-duration: 0.2s;
}
.kph, .celsius {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.mph, .fahrenheit {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.selected-unit {
  background-color: var(--text-night);
  color: #4e4e4e;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.condition .icon{
  width: 64px;
  height: 64px;
}
.condition .text {
  font-size: 2.8rem;
  font-weight: 400;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actual-temp {
  font-size: 3rem;
  font-weight: 500;
}

.actual-temp + div {
  font-size: 1.3rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  gap: 0.3em;
}

.feels-like {
  font-size: 1.5rem;
  font-weight: 500;
}

.desc-1, .desc-2 {
  display: flex;
  justify-content: space-between;

  margin: 1em;
  padding: 0.5em 1em;

  background-color: var(--section-night);
  border-radius: 15px;
}

.wind .speed, .wind .direction, 
.cloud, .humidity, 
.rain, .snow, 
.sunrise, .sunset {
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: 1.5rem;
  font-weight: 500;
}

.wind, .misc, .precipation, .sun {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.desc-icon {
  width: 32px;
  height: 32px;
}

.forecasts {
  display: flex;
  flex-direction: column;

  margin: 2em 1em;
  background-color: var(--section-night);
  
  border-radius: 15px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;


  padding: 0.25em 1em;

  font-size: 1.5rem;
  font-weight: 500;
}

.forecast:not(:first-child) {
  border-top: 1px solid var(--text-night);
}

.forecast-condition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-icon {
  width: 48px;
  height: 48px;
}

.forecast .min-temp {
  color: #bbbbbb;
}

.forecast .precipation {
  justify-self: center;
}

.forecast .max-temp, .forecast .min-temp {
  justify-self: end;
}